/* ---------------------------------------------- Jumbotron ---------------------------------------------- */

.jumbotron {
  justify-content: center;
  align-items: center;

  max-height: 100vh;
  padding: 0;
  margin: 0;

  text-align: center;

  background-color: rgb(255, 192, 159);

  overflow: hidden;
}

.header {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;

  height: 55vh;
  width: 100%;

  font-family: "Comfortaa", cursive;
  color: #110B11;
  text-align: center;
}

.header h1 {
  position: relative;
  top: 50%;
  font-size: 7rem;
  letter-spacing: 1rem;
  word-wrap: break-word;
  text-align: center;
}

/* waves */

.waves {
  position: relative;
  margin-bottom: -7px;

  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: wave-motion 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes wave-motion {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.bottomContent {
  height: 35vh;

  background-color: rgb(255, 255, 255);
}

.icon {
  position: relative;
  top: 40%;

  color: rgb(0, 0, 0);

  animation: swipe 2s linear infinite both;
}

@keyframes swipe {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -70%);
  }
}

/* ---------------------------------------------- Main ---------------------------------------------- */

.mainRow {
  min-height: 100vh;

  width: 100%;

  color: #3c3c3c;
}

.mainRow h2 {
  font: 200 5rem "Baloo 2", cursive;
  letter-spacing: 1rem;
  text-align: center;
}

/* ---------------------------------------------- About ---------------------------------------------- */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #59c3c3;
}

.description p {
  font-size: 1.7rem;
  text-align: center;
}

.aboutPage {
  color: #3c3c3c;
  text-decoration: underline;
}

.aboutPage:hover {
  color: #3c3c3c;
  background-color: #ebebeb;
  text-decoration: none;
  transition: all cubic-bezier() 0.5s;
}

/* ---------------------------------------------- Projects ---------------------------------------------- */

.projects {
  background-color: #ebebeb;
}

.projects h2 {
  padding-top: 5%;
}

.projectsRow {
  justify-content: center;
}

.cardContainer {
  flex: 1;
  margin: 30px;
}

.cardContainer .card {
  position: relative;

  width: 100%;

  text-transform: capitalize;
  font-weight: bold;
}

.cardContainer .card a {
  position: relative;

  display: block;
  padding: 30px;
  width: 100%;
  height: 300px;

  text-decoration: none;
  color: black;

  border: 2px solid black;
  background: white;

  transition: 0.25s ease;

  z-index: 1;
}

.cardContainer .card a:hover {
  color: #fff;

  border-color: #5bc0eb;
  background-image: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)),
    repeating-linear-gradient(
      0,
      transparent,
      transparent 2px,
      black 3px,
      black 3px
    ),
    var(--image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  transform: translate(-30px, -30px);
}

.cardContainer .card a:hover .cardDisplay {
  display: none;
}

.cardContainer .card a:hover .cardHover {
  display: block;
}

.cardContainer .card a .cardDisplay h3 {
  margin: 20px 0 0;

  font-family: "Roboto Slab", serif;
}

.cardContainer .card a .cardHover {
  display: none;
}

.cardContainer .card a .cardHover h3 {
  margin: 20px 0;

  font-family: "Roboto Slab", serif;
}

.cardContainer .card a .cardHover p {
  font-weight: normal;
  line-height: 1.5;
}

.cardContainer .card .cardBorder {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: 2px dashed black;
}

/* ---------------------------------------------- art ---------------------------------------------- */

.art {
  color: white;
  background-color: #4062bb;
  overflow: hidden;
}

.art h2 {
  padding-top: 20%;
  line-height: 90%;
}

.artContainer {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
}

.artRow {
  min-height: 100vh;
}

.artCol {
  height: 100vh;
}

.artDescription {
  text-align: center;
}

.artDescription p {
  font-size: 1.5rem;
}

.artImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/pages/photo.webp");
  background-size: cover;
  background-position: center center;
  transition: all 0.5s ease;
}

.artImg:hover {
  background: url("/pages/blog.webp");
  background-size: cover;
  background-position: center center;
}

.artLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artLink svg {
  width: 80vw;
  max-width: 430px;
}

.artLink svg path {
  animation: blob 2s infinite forwards;
  transform-origin: 50% 50%;
}

.artLink:hover svg path {
  fill: rgba(255, 255, 255, 0.6);
}

.artLink svg text {
  font-size: 2rem;
  font-family: Raleway, serif;
  text-transform: uppercase;
}

@keyframes blob {
  25% {
    d: path(
      "M 90 210 C 90 180 110 160 130 160 C 160 160 180 140 200 130 C 230 120 270 100 290 140 C 310 170 340 100 360 140 C 370 160 390 180 390 210 C 390 240 380 290 350 280 C 330 270 300 280 280 290 C 260 300 230 300 220 290 C 200 270 160 310 140 280 C 130 260 90 240 90 210 "
    );
    transform: rotate(-5deg);
  }
  50% {
    d: path(
      "M 90 210 C 90 180 100 150 120 130 C 150 100 180 140 200 130 C 230 120 270 100 290 140 C 300 160 330 130 360 140 C 390 150 390 180 390 210 C 390 240 380 300 350 280 C 330 270 320 230 280 260 C 260 280 220 310 200 290 C 180 270 160 280 140 280 C 110 280 90 240 90 210"
    );
  }
  75% {
    d: path(
      "M 90 210 C 90 180 110 180 130 170 C 150 160 170 130 200 130 C 240 130 260 150 290 140 C 310 130 340 120 360 140 C 380 160 390 180 390 210 C 390 240 380 260 350 270 C 320 280 290 270 270 260 C 240 250 230 280 210 290 C 180 310 130 300 110 280 C 90 260 90 240 90 210"
    );
    transform: rotate(5deg);
  }
}

/* ----------------------- SIZING ----------------------- */

@media (max-width: 991px) {
  .artImg {
    display: none;
  }
}

@media (max-width: 767px) {
  .header h1 {
    font-size: 4.8rem;
  }
}

@media (max-width: 528px) {
  .header h1 {
    font-size: 4rem;
  }
  .mainRow h2 {
    font-size: 4rem;
    letter-spacing: 0;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 3.7rem;
  }
  .mainRow h2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 420px) {
  .header h1 {
    font-size: 3rem;
  }
  .mainRow h2 {
    font-size: 3rem;
  }
}

@media (max-width: 370px) {
  .header h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 280px) {
  .header h1 {
    display: block;
    font-size: 2rem;
    letter-spacing: 0;
  }
  .mainRow h2 {
    font-size: 3rem;
  }
}
