.main {
  min-height: 10vh;
  padding-top: 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: rgb(0, 0, 0);
  overflow: hidden;
}

.typewriter,
.icon,
.main p {
  margin: 0.5% auto;
}

/* ----------------------- SIZING ----------------------- */

@media (max-width: 1024px) {
  .main {
    padding-top: 2%;
  }
  .typewriter {
    font-size: 1.3rem;
  }
  .main p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .main {
    padding-top: 2%;
  }
  .typewriter {
    font-size: 1rem;
  }
  .main p {
    font-size: 1rem;
  }
}
