.main {
  color: #ebebeb;
  text-align: center;
}

.navItem {
  margin: 0;
  width: 100vw;
  justify-content: center;
}

/* ------- social icons ------- */

.social {
  padding: 0;
  margin: 0;
  display: flex;
}

.social li {
  margin: 1% 1%;
  display: block;
}

.icon {
  font-size: 1.7rem;
  color: #ebebeb;
}

.icon:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    filter: drop-shadow(5px 4px rgba(244, 67, 54, 1))
      drop-shadow(-5px -6px rgba(33, 150, 243, 1));
  }
  25% {
    filter: drop-shadow(-5px -6px rgba(244, 67, 54, 1))
      drop-shadow(5px 4px rgba(33, 150, 243, 1));
  }
  50% {
    filter: drop-shadow(5px -4px rgba(244, 67, 54, 1))
      drop-shadow(-8px 4px rgba(33, 150, 243, 1));
  }
  75% {
    filter: drop-shadow(-8px -4px rgba(244, 67, 54, 1))
      drop-shadow(-5px -4px rgba(33, 150, 243, 1));
  }
  100% {
    filter: drop-shadow(-5px 0 rgba(244, 67, 54, 1))
      drop-shadow(5px -4px rgba(33, 150, 243, 1));
  }
}

/* ----------------- typewriter+copyright ----------------- */

.typewriter {
  margin-top: 1%;
  font-size: 1rem;
}

.copyright {
  font-size: 1rem;
}

/* ----------------------- SIZING ----------------------- */

@media (max-width: 1345px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}

@media (max-width: 280px) {
}
