.navbar {
  position: fixed;
  right: 0;
  width: 5%;
  height: 100%;
  background: black;
}

.navItem {
  font: 300 1.2rem "Lato", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255)!important;
  writing-mode: vertical-lr;
}

.navItem:hover {
  text-decoration: line-through;
}
