.main {
  text-align: center;
}

/* ----------------------- header ----------------------- */

.menuItem {
  font: 600 1.7rem "Lato", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #110b11 !important;
}

.menuItem:hover span {
  position: relative;
  display: inline-block;
  text-decoration: none;
  animation: pop 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.menuItem span:nth-last-child(1n) {
  animation-delay: -0.1666666667s;
}
.menuItem span:nth-last-child(2n) {
  animation-delay: -0.3333333333s;
}
.menuItem span:nth-last-child(3n) {
  animation-delay: -0.5s;
}

@keyframes pop {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #8aa5e9;
    color: #110b11;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #8aa5e9;
    color: #110b11;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #8aa5e9;
    color: #110b11;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #8aa5e9;
    color: #110b11;
  }
}

.active {
  text-decoration: line-through;
}

/* ----------------------- SIZING ----------------------- */

@media (max-width: 991px) {
  .nav {
    background-color: ghostwhite;
  }
}