.main {
  position: fixed;
  left: 0;
  width: 15%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  color: #ebebeb;

  background-color: #110b11;
}

/* ----------------------- header ----------------------- */

.navItem {
  font: 600 2.2rem "Lato", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #ebebeb !important;
}

.navItem:hover span {
  position: relative;
  display: inline-block;
  text-decoration: none;
  animation: pop 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.navItem span:nth-last-child(1n) {
  animation-delay: -0.1666666667s;
}
.navItem span:nth-last-child(2n) {
  animation-delay: -0.3333333333s;
}
.navItem span:nth-last-child(3n) {
  animation-delay: -0.5s;
}

@keyframes pop {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #4062bb;
    color: #ebebeb;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #4062bb;
    color: #ebebeb;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #4062bb;
    color: #ebebeb;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #4062bb;
    color: #ebebeb;
  }
}

.active {
  text-decoration: line-through;
}
/* ----------------------- footer ----------------------- */

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.typewriter {
  max-width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  font-size: 1.2rem;
  overflow: hidden;
}

/* ------- social ------- */

.social {
  align-items: center;
  justify-content: center;
}

.social a {
  padding: 25% 0 !important;
}

.icon {
  font-size: 2rem;
  color: #ebebeb;
}

.icon:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    filter: drop-shadow(5px 4px rgba(244, 67, 54, 1))
      drop-shadow(-5px -6px rgba(33, 150, 243, 1));
  }
  25% {
    filter: drop-shadow(-5px -6px rgba(244, 67, 54, 1))
      drop-shadow(5px 4px rgba(33, 150, 243, 1));
  }
  50% {
    filter: drop-shadow(5px -4px rgba(244, 67, 54, 1))
      drop-shadow(-8px 4px rgba(33, 150, 243, 1));
  }
  75% {
    filter: drop-shadow(-8px -4px rgba(244, 67, 54, 1))
      drop-shadow(-5px -4px rgba(33, 150, 243, 1));
  }
  100% {
    filter: drop-shadow(-5px 0 rgba(244, 67, 54, 1))
      drop-shadow(5px -4px rgba(33, 150, 243, 1));
  }
}

/* ----------------------- SIZING ----------------------- */

@media (max-width: 1345px) {
  .navItem {
    font-size: 2rem;
  }
}

@media (max-width: 1024px) {
  .main {
  }
}

@media (max-width: 767px) {
  .main {
  }
}

@media (max-width: 480px) {
  .main {
    margin-left: 0;
  }
}

@media (max-width: 280px) {
  .main {
    margin-left: 0;
  }
}
