.navbar {
  position: fixed;
  left: 0;
  width: 5%;
  height: 100%;
  background:rgb(0, 0, 0);
}

.nav {
  position: absolute;
  bottom: 0;
  padding-bottom: 15%;
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}

.nav a {
  padding: 25% 0!important;
}

.icon {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.icon:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    filter: drop-shadow(5px 4px rgba(244, 67, 54, 1))
      drop-shadow(-5px -6px rgba(33, 150, 243, 1));
  }
  25% {
    filter: drop-shadow(-5px -6px rgba(244, 67, 54, 1))
      drop-shadow(5px 4px rgba(33, 150, 243, 1));
  }
  50% {
    filter: drop-shadow(5px -4px rgba(244, 67, 54, 1))
      drop-shadow(-8px 4px rgba(33, 150, 243, 1));
  }
  75% {
    filter: drop-shadow(-8px -4px rgba(244, 67, 54, 1))
      drop-shadow(-5px -4px rgba(33, 150, 243, 1));
  }
  100% {
    filter: drop-shadow(-5px 0 rgba(244, 67, 54, 1))
      drop-shadow(5px -4px rgba(33, 150, 243, 1));
  }
}
