/* ORDRER */
/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

html,
body {
  overflow-x: hidden;

  padding: 0;
  margin: 0;
  
  font-display: swap;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* ----------------------- SIZING ----------------------- */

@media (max-width: 1024px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}

@media (max-width: 280px) {
}
