/* ORDRER */
/* Positioning */
/* Box-model */
/* Typography */
/* Visual */
/* Misc */

html,
body {
  overflow-x: hidden;

  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin-left: 20%;
}

a {
  text-decoration: none;
}

/* ----------------------- SIZING ----------------------- */

@media (max-width: 1024px) {
}

@media (max-width: 767px) {
  body {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  body {
    margin-left: 0;
  }
}

@media (max-width: 280px) {
  body {
    margin-left: 0;
  }
}
